{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}


{% block page_header %}
    <h2>Adicione um novo tópico:</h2>
{% endblock page_header %}

{% block content %}

<form action="{% url 'learning_logs:new_topic' %}" method='POST'>
    <!-- O argumento action informa ao navegador para onde enviar os dados fornecidos no formulário HTML  -->

    {% csrf_token %}
    <!-- O django utuliza essa tokenização para umpedir que pessoas não autorizadas tenham acesso ao servidor
    através de cross-site request forgery, inclusive, o django bloqueia forms que não estiverem com essa especificação  -->

    {% bootstrap_form form %}
    
    {% bootstrap_button button_type="submit" content="Adicionar Tópico" %}
</form>

{% endblock content %}