{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h1>Tópicos</h1>
{% endblock page_header %}

{% block content %}

<ul class="list-group border-bottom pb-2 mb-4">
    {% for topic in topics %}
        <li class="list-group-item border-0">
            <a href="{% url 'learning_logs:topic' topic.id %}">
                {{ topic.text }}</a>
                <!-- Quando a pessoa clicar no nome do tópico,   -->
        </li>
    {% empty %}
        <li class="list-group-item border-0">Nenhum tópico foi adicionado ainda.</li>
    {% endfor %}
</ul>

<a href="{% url 'learning_logs:new_topic' %}">Adicionar um novo tópico</a>

{% endblock content %}