{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h2>Logue com a sua conta</h2>
{% endblock page_header %}

{% block content %}

<!-- Não se vê mais necessário pois o bootstrap implementado já fica encarregado de gerenciar esse tipo de erro
    {% if form.errors %}
    <p>O seu nome de usuário ou senha estão incorretos. Por favor, tente novamente </p>
{% endif %}-->

<form action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Logar" %}
</form>

{% endblock content %}